
body{
    
    margin: 20px 5%;
    
}
header{
    display: block;
    background-color: #000088;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

h1{
    color: white;

}

nav a{
    display:block;
    font-size: 150%;
    text-decoration: none;
    color: rgb(194, 187, 187);
}
nav{
    text-align: center;
    margin: 0 auto;
    display:block;
    padding: 10px 0px;
    background-color: rgb(217, 222, 224);
    width: 100%;
    border-radius: 10px;
}

h2{
    clear:bottom;
    text-align:center;
    
}
section{
    background: #AAAAAA;
    padding-bottom: 5%;
    display:block;
    margin: 10px 0px;
    border-radius: 10px;
    overflow:auto;
}

section p{
    display: inline;
    
    
}
section img{
    
    transform: translate(0,-20px);
    width: 10%;
    float:left;
    margin: 10px;
    border-radius: 10px;

    
}

details{
    padding:10px;
}


